@use "sass:list";
@use "sass:map";

@use './tipography.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

input {
   padding: 5px;
   border: none;
   border-radius: 10px;
}

input:focus-visible {
   outline: none;
}

html, body {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

main {
   width: 100%;
   height: 100%;
}

.block_welcome {
   width: 100%;
   height: 150%;
   display: flex;
   flex-direction: column;
   background: linear-gradient(#000000, #4e4e4e);
   color: #fff;

   .phrase {
      position: relative;
      margin-top: 15vh;
      padding: 1vw;
      width: 35vw;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      transition: all 0.25s;
      
      h2 {
         padding: 1vw;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 1px solid rgba(125, 125, 125, .5);
         border-radius: 40px;
      }
   }

   .phrase:nth-child(2n+1) {
      left: 15vw;
   }
   
   .phrase:nth-child(2n) {
      left: 50vw;
   }
}

.block_form {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(#4e4e4e 1%, #d6d6d6);

   .form_user {
      position: relative;
      width: 35vw;
      height: 35vw;
      // backdrop-filter: blur(7.5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      background: #f3f3f3;
      border-radius: 18px;
      box-shadow: 0 0 16px 0px rgb(110, 110, 110);
      
      input {
         padding: 15px;
         width: 70%;
         font-size: 1.5rem;
      }

      input::placeholder {
         text-decoration: underline;
      }

      input:last-child {
         background-color: #c3c3c3;
         transition-duration: .5s;
      }

      input:last-child:hover {
         font-size: 2rem;
         border-radius: 50px;
         transition-duration: .5s;
      }
   }

   .box {
      opacity: 0;
      width: 0;
      min-height: 35vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f3f3f3;
      border-radius: 18px;
      box-shadow: 0 0 16px 0px rgb(110, 110, 110);
      
      .question_form {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 2vw;

         .question {
            display: flex;
            flex-direction: column;
            gap: 1vw;

            h2 {
               width: 100%;
               display: flex;
               justify-content: center;
            }

            h3 {
               display: flex;
               justify-content: center;
               align-items: center;
            }

            .answers {
               display: flex;
               flex-direction: column;
               gap: 1vw;

               .answer {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;

                  label {
                     flex: 2;
                     font-size: 1.5rem;
                  }
               }
            }

            .button_question {
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               border: none;
               border-radius: 10px;
               background: #c3c3c3;
               transition: .5s;

               img {
                  padding: 5px 0 5px 0;
                  width: 50px;
                  height: 50px;
                  object-fit: contain;
                  transition: .5s;
               }
            }

            .button_question:hover {
               border-radius: 25px;
               transition: .5s;

               img {
                  width: 60px;
                  height: 60px;
                  transition: .5s;
               }
            }
         }

         h2 {
            font-size: 2rem;
         }

         h3 {
            font-size: 1.75rem;
            padding: 0 1vw 0 1vw;
            border-radius: 25px;
         }

         .submit_ans {
            padding: 15px;
            width: 70%;
            font-size: 1.5rem;
            background-color: #c3c3c3;
            transition-duration: .5s;
         }
      
         .submit_ans:hover {
            font-size: 2rem;
            border-radius: 50px;
            transition-duration: .5s;
         }
      }
   }

   .thenk_u {
      opacity: 0;
      padding: 1vh 0 1vh 0;
      width: 0;
      min-height: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f3f3f3;
      border-radius: 18px;
      box-shadow: 0 0 16px 0px rgb(110, 110, 110);
      font-size: 1rem;
   }
}

.block_result {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(#d6d6d6, #4e4e4e);

   .result {
      padding: 1vw;
      width: 35vw;
      min-height: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f3f3f3;
      border-radius: 18px;
      box-shadow: 0 0 16px 0px rgb(110, 110, 110);

      h1 {
         text-align: center;
         padding: 1vh 0;
      }

      .result_question {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         h2 {
            margin-top: 2vh;
         }

         .list_question {
            width: 100%;
            padding-left: 2vw;
            
            li {
               width: 100%;
               margin-top: 1vh;
            }

            ::marker {
               font-size: 1.75rem;
               font-weight: bold;
            }
         }

         .list_answer {
            padding-left: 2vw;

            li {
               margin: 0;
               
               .answer_procent {
                  padding: 0 5px 5px 5px;
                  width: 90%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  border-bottom: 1px solid rgba(125, 125, 125, .8);
                  border-radius: 15px;
               }

               .answer_procent_hint {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 5vw;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: start;
                  font-size: 1rem;
                  opacity: 0;
                  background: #e0e0e0;
                  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 33% 76%, 0 100%, 0 75%, 0% 75%);
                  border-radius: 5px;
               }
            }
         }

         #chart svg {
            g:last-child {
               pointer-events: none;
               cursor: default;
            }
         }
      }
   }
}

@media (max-width: 1440px) {
   .block_welcome {
      .phrase {
         h2 {
            padding: 1.75vw;
            font-size: 1.5rem;
         }
      }
   }

   .phrase:first-child {
      margin-top: 7.5vh;
   }
   
   .block_form  {
      .thenk_u {
         h2 {
            font-size: 1.5rem;
         }
      }

      .form_user {
         width: 60vw;
         height: 50vh;
      }
   }

   .block_result {
      .result {
         width: 60vw;

         h1 {
            font-size: 1.5rem;
         }

         .result_question {
            .list_question {
               padding: 0 0 0 35px;

               ::marker {
                  font-size: 1.25rem;
               }
            }
            
            .list_answer {
               padding: 0 0 0 35px;

               li {
                  .answer_procent {
                     width: 95%;
                  }

                  .answer_procent_hint {
                     width: 7.5vw;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 1025px) {
   .block_welcome {
      height: 95%;
      
      .phrase {
         width: 80%;

         h2 {
            padding: 2vw;
         }
      }

      .phrase:nth-child(2n+1) {
         left: 10vw;
      }

      .phrase:nth-child(2n) {
         left: 10vw;
      }
   }

   .block_result {
      .result {
         width: 60vw;

         .result_question {
            .list_question {
               ::marker {
                  font-size: 1.25rem;
               }
            }
            
            .list_answer {
               li {
                  .answer_procent_hint {
                     width: 12.5vw;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .block_welcome {
      height: 95%;
      
      .phrase {
         width: 90%;
      }

      .phrase:nth-child(2n+1) {
         left: 5vw;
      }

      .phrase:nth-child(2n) {
         left: 5vw;
      }
   }

   .block_form  {
      .form_user {
         width: 80vw;
      }
   }

   .block_result {
      .result {
         width: 80vw;

         .result_question {
            .list_question {
               ::marker {
                  font-size: 1.25rem;
               }
            }
            
            .list_answer {
               li {
                  .answer_procent_hint {
                     width: 12.5vw;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 540px) {
   .block_welcome {
      height: 110%;
      
      .phrase {
         width: 90%;
         margin-top: 7.5vh;

         h2 {
            font-size: 1.25rem;
            padding: 2.5vw;
         }
      }

      .phrase:nth-child(2n+1) {
         left: 5vw;
      }

      .phrase:nth-child(2n) {
         left: 5vw;
      }
   }

   .phrase:first-child {
      margin-top: 5vh;
   }

   .block_form {
      height: 110%;

      .form_user {
         width: 90vw;
         height: 35vh;

         input {
            font-size: 1.25rem;
            width: 85%;
         }
      }

      .box {
         min-height: 70vw;

         .question_form {
            h2 {
               font-size: 1.75rem;
            }

            h3 {
               font-size: 1.5rem;
            }

            .question {
               .answers .answer label {
                  font-size: 1.25rem;
               }

               .button_question img {
                  width: 40px;
                  height: 40px;
               }

               .button_question:hover {
                  img {
                     width: 50px;
                     height: 50px;
                  }
               }
            }

            .submit_ans {
               padding: 10px;
            }
         }
      }

      .thenk_u {
         h2 {
            text-align: center;
            font-size: 1.25rem;
         }
      }
   }

   .block_result {
      .result {
         width: 90vw;

         h1 {
            font-size: 1.25rem;
         }

         h2 {
            text-align: center;
            font-size: 1.5rem;
         }

         .result_question .list_answer li {
            .answer_procent {
               h3 {
                  font-size: 1.25rem;
               }
            }

            .answer_procent_hint {
               width: 27.5vw;
            }
         }
      }
   }
}

//screen-width <=> 4000, 1440, 1024, 768
$screen-sizes: (
   1: ("size": "_40000", "width": 35, "translateX": 75),
   2: ("size": "_1440", "width": 60, "translateX": 250),
   3: ("size": "_1024", "width": 60, "translateX": 250),
   4: ("size": "_768", "width": 80, "translateX": 250)
);

@each $name, $size in $screen-sizes {
   @keyframes user_form#{map.get($screen-sizes, $name, "size")} {
      0% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
         transform: translateX(0);
      }
      40% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
         transform: translateX(17.5vw);
      }
      60% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
      }
      100% {
         width: 0;
         opacity: 0;
         transform: translateX(-#{map.get($screen-sizes, $name, "translateX")}vw);
         display: none;
      }
   }
   
   @keyframes question_form#{map.get($screen-sizes, $name, "size")} {
      0% {
         width: 0;
         opacity: 0;
         transform: translateX(#{map.get($screen-sizes, $name, "translateX")}vw);
      }
      40% {
         opacity: 1;
         width: #{map.get($screen-sizes, $name, "width")}vw;
         transform: translateX(17.5vw);
      }
      65% {
         opacity: 1;
         width: #{map.get($screen-sizes, $name, "width")}vw;
         transform: translateX(0vw);
      }
      100% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
         transform: translateX(0vw);
      }
   }
   
   @keyframes box_out#{map.get($screen-sizes, $name, "size")} {
      0% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
         transform: translateX(0);
      }
      40% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
         transform: translateX(17.5vw);
      }
      60% {
         width: #{map.get($screen-sizes, $name, "width")}vw;
         opacity: 1;
      }
      100% {
         width: 0;
         opacity: 0;
         transform: translateX(-#{map.get($screen-sizes, $name, "translateX")}vw);
         display: none;
      }
   }
}

//screen-width <=> 435px
@keyframes user_form_435 {
   0% {
      width: 90vw;
      opacity: 1;
      transform: translateX(0);
   }
   40% {
      opacity: 1;
   }
   60% {
      width: 90vw;
      opacity: 1;
   }
   100% {
      width: 0;
      opacity: 0;
      transform: translateX(-250vw);
      display: none;
   }
}

@keyframes question_form_435 {
   0% {
      width: 0;
      opacity: 0;
      transform: translateX(250vw);
   }
   40% {
      opacity: 1;
   }
   65% {
      opacity: 1;
      width: 90vw;
   }
   100% {
      width: 90vw;
      opacity: 1;
      transform: translateX(0vw);
   }
}

@keyframes box_out_435 {
   0% {
      width: 90vw;
      opacity: 1;
      transform: translateX(0);
   }
   40% {
      opacity: 1;
   }
   60% {
      width: 90vw;
      opacity: 1;
   }
   100% {
      width: 0;
      opacity: 0;
      transform: translateX(-250vw);
      display: none;
   }
}
